@charset "UTF-8";
/* Scss Document */
html,
body {
  color: #111A45;
  font-size: 16px;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sora', sans-serif;
}

p {
  font-family: 'Lato', sans-serif;
}

ul li {
  font-family: 'Lato', sans-serif;
}

ul li a {
  font-family: 'Lato', sans-serif;
}

.h3 {
  font-size: 1.17em;
}

.container {
  width: calc(100% - 60px);
  margin: 0 auto;
}

.btn-primary {
  font-family: 'Sora', sans-serif;
  height: 58px;
  width: 232px;
  display: block;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 700;
  letter-spacing: .09375rem;
  background: linear-gradient(113deg, #dd154d 1%, #fd0036 24.5%, #ff5100 41%, #ffa800);
  background-size: 200% 100%;
  background-position: 0 0;
  color: #fff;
  -webkit-box-shadow: 0 22px 40px -17px #f5140652;
          box-shadow: 0 22px 40px -17px #f5140652;
  -webkit-transition: background-position .4s,-webkit-box-shadow .4s,-webkit-transform .4s;
  transition: background-position .4s,-webkit-box-shadow .4s,-webkit-transform .4s;
  transition: background-position .4s,box-shadow .4s,transform .4s;
  transition: background-position .4s,box-shadow .4s,transform .4s,-webkit-box-shadow .4s,-webkit-transform .4s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-primary:hover {
  background-position: 50% 0;
  -webkit-box-shadow: 0 22px 40px -5px #f5140652;
          box-shadow: 0 22px 40px -5px #f5140652;
}

.btn-secondary {
  font-family: 'Sora', sans-serif;
  height: 35px;
  padding: 0 18px;
  display: block;
  border-radius: 100px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 500;
  background: #fceaef;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ed0c42;
}

.btn-secondary img {
  width: 10px;
  margin-left: 10px;
}

.btn-secondary:hover {
  -webkit-box-shadow: ​3px 16px 3px #111A45;
          box-shadow: ​3px 16px 3px #111A45;
}

.section-heading {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-heading h2 {
  font-weight: 500;
  font-size: 30px;
  color: #ed0c42;
}

.section-heading p {
  font-weight: 300;
  color: #111A45;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 3px;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
}

.section {
  width: 100%;
  padding: 60px 0;
}

.header {
  width: 100%;
  padding: 15px 0;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg {
  background: linear-gradient(-75deg, #e3f2ff 0, #f8f8f8 30.73%, #ffdce2 72.4%, #ffdec0 100%);
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .main-text {
  width: 100%;
  text-align: center;
}

.banner .main-text h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #ed0c42;
}

.banner .main-text h1 {
  font-size: 41px;
  font-weight: 800;
  line-height: 60px;
  color: #111A45;
  margin: 1.8rem 0;
}

.banner .main-text p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 2.6rem;
}

.banner .image {
  display: none;
}

.banner .image img {
  width: 100%;
}

.work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  position: relative;
}

.work::before {
  left: 0%;
  content: '';
  background-color: #491FF5;
  width: 100%;
}

.work .item {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  border: 1px solid #DEE4F4;
  -webkit-transition: 0s;
  transition: 0s;
}

.work .item:hover {
  -webkit-box-shadow: 1px 2px 3px #ddd;
          box-shadow: 1px 2px 3px #ddd;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.work .item .project {
  width: calc(100% - 10px);
  height: 200px;
  padding: 5px;
}

.work .item .project img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work .item .project-details {
  width: calc(100% - 40px);
  float: left;
  padding: 20px 20px;
}

.work .item .project-details h3 {
  font-size: 18px;
  line-height: 28px;
  padding-top: 2.2px;
  padding-bottom: 2px;
  font-weight: 700;
}

.work .item .project-details p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
  padding-top: 10px;
  padding-bottom: 2rem;
}

.work .item .project-details .readmore {
  color: #ed0c42 !important;
  letter-spacing: .01em;
  padding-top: 2px;
  padding-bottom: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  font-size: 14px;
}

.work .item .project-details .readmore img {
  margin-left: 1rem;
  width: 13px;
}

.footer {
  width: 100%;
  float: left;
  color: #fff;
  padding: 80px 0 35px 0;
  background: url(../images/bg_footer.png) center center;
  background-color: #000;
  margin-top: 3.5rem;
}

.footer .contact {
  width: 100%;
  float: left;
}

.footer .contact .user {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.footer .contact .user img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-bottom: 2.5rem;
}

.footer .contact .user .h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

.footer .contact .user p {
  color: #474749;
  font-weight: 300;
  padding-top: 0.5rem;
}

.footer .contact .email {
  width: 100%;
  float: left;
  margin-bottom: 30px;
}

.footer .contact .email .h3 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0;
}

.footer .contact .email p {
  color: #474749;
  font-weight: 300;
  padding-bottom: 0.5rem;
}

.footer .contact .social {
  width: 100%;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  max-width: 90px;
}

.footer .contact .social li a {
  width: 30px;
  border-radius: 100%;
  float: left;
}

.footer .contact .social li a img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.footer .contact h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer .contact p {
  color: #474749;
  font-weight: 300;
  padding-bottom: 0.5rem;
  line-height: 1.6;
}

.footer .prefooter {
  width: 100%;
  float: left;
  margin-top: 4rem;
  border-top: 1px solid rgba(200, 184, 255, 0.19);
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .prefooter .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer .prefooter .nav li {
  float: left;
  list-style: none;
  font-size: 16px;
  font-weight: 300;
}

.footer .prefooter .nav li a {
  color: #474749;
}

.footer .prefooter .copy-right p {
  color: #474749;
  font-weight: 300;
}
/*# sourceMappingURL=main-v3.css.map */