/* Scss Document */
$primary-color: #ed0c42;
$secondary-color: #fe5901;
// $third-color:


$primary-text: #111A45;
$secondary-text: #474749;
$secondary-text-sub: #878A8F;
//@use 'base';

html,
body {
    color: $primary-text;
    font-size: 16px;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Sora', sans-serif;
}
p{
    font-family: 'Lato', sans-serif;
}
ul{
    li{
        font-family: 'Lato', sans-serif;
        a{
            font-family: 'Lato', sans-serif;
        }
    }
}
.h3 {
    font-size: 1.17em;
}
.container{
    width: calc(100% - 60px);
    margin: 0 auto;
}


.btn-primary {    
    font-family: 'Sora', sans-serif;
    height: 58px;
    width: 232px;
    display: block;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: .875rem;
    font-weight: 700;
    letter-spacing: .09375rem;
    background: linear-gradient( 113deg ,#dd154d 1%,#fd0036 24.5%,#ff5100 41%,#ffa800);
    background-size: 200% 100%;
    background-position: 0 0;
    color: #fff;
    box-shadow: 0 22px 40px -17px #f5140652;
    transition: background-position .4s,box-shadow .4s,transform .4s;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-position: 50% 0;
    box-shadow: 0 22px 40px -5px #f5140652;
    }
}

.btn-secondary {    
    font-family: 'Sora', sans-serif;
    height: 35px;
    // min-width: 130px;
    padding: 0 18px;
    display: block;
    border-radius: 100px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 500;
    background: #fceaef;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    img{
        width: 10px;
        margin-left: 10px;
    }

    &:hover {
        box-shadow: ​3px 16px 3px #111A45;
    }
}

.section-heading {
    width: 100%;
    margin: 0 auto;
    text-align: center;

    h2 {
        font-weight: 500;
        font-size: 30px;
        color: $primary-color;
    }

    p {
        font-weight: 300;
        color: $primary-text;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 3px;
        padding-top: 30px;   
         font-family: 'Lato', sans-serif;

    }
}

// section //
.section {
    width: 100%;
    padding: 60px 0;
}





.header {
    width: 100%;
    padding: 15px 0;

    .navbar {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

}

// banner
.bg{
    // background: url(../images/banner-bg.jpg) left top;
    // background-size: cover; 
    background: linear-gradient(-75deg,#e3f2ff 0,#f8f8f8 30.73%,#ffdce2 72.4%,#ffdec0 100%);
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    .main-text {
        width: 100%;
        text-align: center;

        h5 {
            font-size: 1rem;
            font-weight: 400;
            color: $primary-color;
        }

        h1 {
            font-size: 41px;
            font-weight: 800;
            line-height:60px;
            color: $primary-text;
            margin: 1.8rem 0;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.8rem;
            margin-bottom: 2.6rem;
        }
    }

    .image {
        display: none;

        img {
            width: 100%;
        }
    }
}


.work {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    position: relative;

    &::before {
        left: 0%;
        content: '';
        background-color: #491FF5;
        width: 100%;
    }

    .item {
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        padding: 10px;
        border: 1px solid #DEE4F4;
        transition: 0s;

        &:hover {
            box-shadow: 1px 2px 3px #ddd;
            transition: 1.3s;
        }

        .project {
            width: calc(100% - 10px);
            height: 200px;
            padding: 5px;

            img {
                border-radius: 10px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        .project-details {
            width: calc(100% - 40px);
            float: left;
            padding: 20px 20px;

            h3 {
                font-size: 18px;
                line-height: 28px;
                padding-top: 2.2px;
                padding-bottom: 2px;
                font-weight: 700;
            }

            p {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.5rem;
                padding-top: 10px;
                padding-bottom: 2rem;
            }

            .readmore {
                color: $primary-color !important;
                letter-spacing: .01em;
                padding-top: 2px;
                padding-bottom: 3px;
                display: flex;
                flex-direction: row;
                align-items: center;
                float: left;
                font-size: 14px;

                img {
                    margin-left: 1rem;
                    width: 13px;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    float: left;
    color: #fff;
    padding: 80px 0 35px 0;
    background: url(../images/bg_footer.png) center center;
    background-color: #000;
    margin-top: 3.5rem;

    .contact {
        width: 100%;
        float: left;

        .user {
            width: 100%;
            float: left;
            margin-bottom: 30px;

            img {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin-bottom: 2.5rem;
            }

            .h3 {
                font-weight: 400;
                font-size: 1rem;
                margin-bottom: 0;
            }

            p {
                color: $secondary-text;
                font-weight: 300;
                padding-top: 0.5rem;
            }
        }

        .email {
            width: 100%;
            float: left;
            margin-bottom: 30px;

            .h3 {
                font-weight: 400;
                font-size: 1rem;
                margin-bottom: 0;
            }

            p {
                color: $secondary-text;
                font-weight: 300;
                padding-bottom: 0.5rem;
            }
        }

        .social {
            width: 100%;
            float: left;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 30px;
            max-width: 90px;

            li {
                a {
                    width: 30px;
                    // padding: 1rem;
                    border-radius: 100%;
                    float: left;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: scale-down;
                    }

                    &:hover {
                        // background: $secondary-text;
                    }
                }
            }
        }

        h2 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        p {
            color: $secondary-text;
            font-weight: 300;
            padding-bottom: 0.5rem;
            line-height: 1.6;
        }
    }

    .prefooter {
        width: 100%;
        float: left;
        margin-top: 4rem;
        border-top: 1px solid rgba(200, 184, 255, .19);
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            li {
                float: left;
                list-style: none;
                font-size: 16px;
                font-weight: 300;

                a {
                    color: $secondary-text;
                }
            }
        }

        .copy-right {
            p {
                color: $secondary-text;
                font-weight: 300;
            }
        }
    }
}